.container {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.input {
  margin-bottom: 10px;
  height: 30px;
}

.submitButton {
  padding: 8px;
  border-radius: 6px;
  width: 185px;
  border: 0;
  background: dodgerblue;
  color: #fff;
}
